body {
    font-family: roboto;
    background-color: #1F2937;
    margin: 0;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

.links {
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    padding: 0px;
}

a {
    text-decoration-line: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: auto;
    padding: 70px 0 70px 0
}

.intro-text {
    width: 450px;
    padding: 50px 50px 50px 0px;
}

.intro-title {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.intro-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

#dogo-meme {
    height: 200px;
    width: 550px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.random-info {
    background-color: #F9FAF8;
}

.random-info-title {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.cards {
    color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.card {
    width: 200px;
}

.card img {
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote-text {
    margin: auto;
    width: 800px;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    margin: auto;
    width: 800px;
    display:flex;
    justify-content: flex-end;
}

.sign-up {
    background-color: #F9FAF8;
}

.blue-box {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.blue-box-subtext {
    font-size: 18px;
    font-weight: normal;
}

.footer {
    color:#E5E7EB;
    font-size: 18px;
}